html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scal=1')
    title My-Pantry
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel='icon', href='assets/img/favicon.ico')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    link(href='./stylesheets/justified-nav.css', rel='stylesheet')
    link(href='./stylesheets/styles.css', rel='stylesheet')
  body
    .container
      .masthead
        h3 My-Pantry
        nav
          ul.nav.nav-justified
            li.active
              a(href='/') Recipe Search
            li
              a(href='/favorites') Favorites
      .jumbotron
        h1 Recipe Search
      .container
        form
          fieldset.form-group
            label(for='recipeName') Recipe Name
            input#recipeName.form-control(type='text', placeholder='Recipe Name')
            small.text-muted Please enter a recipe name, whole or partial.
          fieldset.form-group
            label(for='ingredients') Ingredients
            input#ingredients.form-control(type='text', placeholder='Ingredients')
            small.text-muted Please seperate ingredients with a ",".
          fieldset.form-group
            label(for='ingredientsExclude') Ingredients To Exclude
            input#ingredientsExclude.form-control(type='text', placeholder='Ingredients To Exclude')
            small.text-muted Please seperate ingredients with a ",".
          .row
            .col-sm-12.col-md-6
              fieldset.form-group#diets
                label(for='diets') Diets
                .checkbox.diets
                  label
                    input(type='checkbox' value='Lacto Vegetarian')
                    |  Lacto Vegetarian
                .checkbox.diets
                  label
                    input(type='checkbox' value='Ovo Vegetarian')
                    |  Ovo Vegetarian
                .checkbox.diets
                  label
                    input(type='checkbox' value='Paleo')
                    |  Paleo
                .checkbox.diets
                  label
                    input(type='checkbox' value='Pescetarian')
                    |  Pescetarian
                .checkbox.diets
                  label
                    input(type='checkbox' value='Vegan')
                    |  Vegan
                .checkbox.diets
                  label
                    input(type='checkbox' value='Vegetarian')
                    |  Vegetarian
            .col-sm-12.col-md-6
              fieldset.form-group#allergies
                label(for='allergies') Allergies
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Dairy-Free')
                    |  Dairy-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Egg-Free')
                    |  Egg-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Gluten-Free')
                    |  Gluten-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Peanut-Free')
                    |  Peanut-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Seafood-Free')
                    |  Seafood-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Seseme-Free')
                    |  Seseme-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Sulfite-Free')
                    |  Sulfite-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Tree Nut-Free')
                    |  Tree Nut-Free
                .checkbox.allergies
                  label
                    input(type='checkbox' value='Wheat-Free')
                    |  Wheat-Free
          button.btn.btn-primary#search(type='submit') Search
      .container    
        .recipes
        #popoverTemplateContainer(style='display: none')
          #popoverTemplate
            .popover
              .arrow
              .popover-inner
                //Custom data here

        //load recipe view down here after search
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
      script(src='js/search.js')
      script(src='js/getRecipe.js')  
    .container
      footer.footer
        p &copy 2016 My-Pantry.
