body{
color: #010E17;
background-color: #4F8BA7;
}
.bs-example{color: A52A2A;
color: #4d2600;
background-color: #ffce99;
}
.thumbnail{
	border-color:  #4d2600;
color: #4d2600;
background-color: #989898;
}
.caption{
color: #010E17;
background-color: #B0B9C2
}
.caption-text{
color: #010E17;
background-color: #B0B9C2
}
.masthead{
color: #010E17;
}
nav{
color: #010E17;
background-color: #92AFBF
}
footer{
	border-color:  #43290E;
}
.nav-justified {
	color: #010E17;
background-color: #92AFBF;
border-color:  #43290E;
}
.nav-justified > li > a {
	color: #7F7C77;
	background-color: #4F8BA7
	background-image: -webkit-gradient(linear, left top, left bottom, from(#103E55), to(#021D28));
  background-image: -webkit-linear-gradient(top, #103E55 0%, #021D28 100%);
  background-image:      -o-linear-gradient(top, #103E55 0%, #021D28 100%);
  background-image:         linear-gradient(to bottom, #103E55 0%,#021D28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103E55', endColorstr='#021D28',GradientType=0 ); /* IE6-9 */
   background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
  border-color:  #43290E;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
	border-color:  #43290E;
color: #010E17;
background-color: #92AFBF;
}
.btn-primary{
	 color: #010E17;
	background-color: #ffb366
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92AFBF), to(#4F8BA7));
  background-image: -webkit-linear-gradient(top, #92AFBF 0%, #4F8BA7 100%);
  background-image:      -o-linear-gradient(top, #92AFBF 0%, #4F8BA7 100%);
  background-image:         linear-gradient(to bottom, #92AFBF 0%,#4F8BA7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92AFBF', endColorstr='#4F8BA7',GradientType=0 ); /* IE6-9 */
   background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
 border-color: #43290E;
}
.footer{
	 border-color: #43290E;
}
.popover-title {
	color: #4d2600;
 background-color: #ffb366
 background-image: -webkit-gradient(linear, left top, left bottom, from(#92AFBF), to(#4F8BA7));
 background-image: -webkit-linear-gradient(top, #92AFBF 0%, #4F8BA7 100%);
 background-image:      -o-linear-gradient(top, #92AFBF 0%, #4F8BA7 100%);
 background-image:         linear-gradient(to bottom, #92AFBF 0%,#4F8BA7 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92AFBF', endColorstr='#4F8BA7',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x; /* Repeat the gradient */
 border-bottom: 1px solid #d5d5d5;
border-color: #43290E;
    font-size: 15px;
}
.popover-content {
	color: #4d2600;
	background-color: #ffce99;
	border-color: #43290E;
}
.popover.right>.arrow:after {
  border-right-color: #43290E;

}
.popover{
	border-color: #43290E;
}
.text-muted{
	color: #2F3332;
}
